@property --a { /* must register --a to animate it */
	syntax: '<angle>';
	initial-value: 0deg;
	/* used only on pseudo, nowhere to be inherited, 
	 * better perf if set false, see 
	 * https://www.bram.us/2024/10/03/benchmarking-the-performance-of-css-property/ */
	inherits: false
}

@layer reset, base, components, utilities;

@layer reset {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit; /* Get rid of all font sizes and heights */
  }
  
  html {
    color-scheme: dark light; /* Default dark */
    hanging-punctuation: first last; /* Not supported in Chrome */
  }
  
  body {
    min-height: 100vh;
  }
  
  /* Media responsive */
  img, picture, svg, video {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  p {
    max-width: 75ch;
    text-wrap: pretty; /* Prevents orphans on lines */
  }

  ul {
    list-style: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }
}

@layer base {
  :root {
    --clr-primary: white;
    --clr-secondary: black;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-1000: 3rem;
    
    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

    --ff-primary: "National Park", sans-serif;
    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-600);
    --fs-primary-heading: var(--fs-900);
  
    --border-radius-default: 0.5rem;
    --border-width-default: 3px;

    --transition-time-default: 0.25s;
  }

  h1 {
    font-size: clamp(var(--fs-700), 9vw, var(--fs-1000));
    font-weight: var(--fw-bold);
  }

  h2 {
    font-size: clamp(var(--fs-500), 6vw, var(--fs-700));
    margin-bottom: 2rem;
    font-weight: var(--fw-semi-bold);
  }
  
  p, span {
    font-size: clamp(var(--fs-500), 5vw, var(--fs-600));
    color: var(--clr-primary)
  }

  a {
    font-size: clamp(var(--fs-400), 5vw, var(--fs-600));
    color: var(--clr-primary);
  }
}

@layer layout {
  body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
    scrollbar-gutter: stable;
  }
  
  main {
    min-height: 100%;
    display: grid;
    place-content: center;
    margin: auto;
  }

  .primary-header {
    position: sticky;
    background: var(--clr-secondary);
    top: 0;
    z-index: 1;
  }
}

@layer components {
  .nav-items {
    display: flex;
    gap: clamp(var(--size-600), 7vw, var(--size-700));
    align-items: center;
  }

  .nav-items--social {
    gap: var(--size-300);
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-item {
    font-size: var(--fs-nav);
    font-weight: var(--fw-regular);
    position: relative;
  }

  .nav-item:not(.logo)::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    right: 0;
    
    transition: transform ease-in-out var(--transition-time-default);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right, orange, yellow, green, cyan, purple, violet); 
  }

  .nav-item--social:not(.logo)::before {
    transform-origin: right;
    rotate: 90deg;
    bottom: 0;
    right: -0.4rem;
  }

  .nav-item:not(.logo):hover::before {
    transform: scaleX(1);
  }
 
  .nav-link-item-img {
    width: clamp(2rem, 5vw, 2.25rem);
    aspect-ratio: 1; 
    display: inline-block;
    fill: currentColor;
  }

  .primary-footer {
    padding: 1rem;
    container: primary-footer / inline-size;
  }

  .logo {
    aspect-ratio: 1;
    display: inline flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    line-height: 0;
  }
  
  button {
    min-width: fit-content;
  }

  .projects-container {
    display: grid;
    gap: var(--size-500);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: var(--size-500);
    /* max-width: 65rem; */
    /* container-type: inline-size; 

    @container (width >= calc(300px * 2 + 1.5rem)) {
      .project-item-container {
        background-color: blue;
        grid-column: span 2;
      }
    } */
  }

  .project-item-container {
    padding: 1em;
  } 

  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    width: 27rem;
  }

  .project-description {
    margin-bottom: 1rem;
  }

  .experience-item:first-child {
    margin-block-start: 3rem;
  }
  .experience-item {
    margin-inline: 2rem;
    margin-block-end: 2rem;
    padding: 1rem;
  }

  .tech-tag {
    display: inline-block;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    padding: 0.5em 1em;
    border-radius: var(--border-radius-default);
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-block: 0.5rem;
  }

  .seperator {
    height: 2px;
    border: 2px dotted var(--clr-primary);
    /* background-color: var(--clr-primary); */
    margin: 1rem 0;
  } 
}

@layer utilities {
  .primary-padding {
    padding: min(var(--size-500), 2vw) min(var(--size-500), 2vw);
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .rainbow-gradient-background {
    width: max-content; 
    background: linear-gradient(to right, orange, yellow, green, cyan, purple, violet); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .rainbow-gradient-border-hover {
    position: relative;
    z-index: 0;

    border: var(--border-width-default) solid var(--clr-primary);
    border-radius: var(--border-radius-default);
    transition: border-color ease-in-out var(--transition-time-default);
  }

  .rainbow-gradient-border-hover:hover {
    border-color: transparent;
  }

  .rainbow-gradient-border-hover:hover::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: calc(var(--border-width-default) * -1);
    border: solid calc(var(--border-width-default) * 2);
    border-image:
      conic-gradient(from var(--a), #669900, #99cc33, #ccee66, 
          #006699, #3399cc, #990066, #cc3399, 
          #ff6600, #ff9900, #ffcc00, #669900) 1;

    filter: blur(1px);
    animation: a 4s linear infinite;
  }
}

@container primary-footer (width < 1100px) {
  .nav-items--social {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-item--social:not(.logo)::before {
    transform-origin: left;
    rotate: 0deg;
    bottom: -0.3rem;
    right: 0;
  }
}


@keyframes a { to { --a: 1turn } }