@layer reset, base, layout, components, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  :root {
    --default-transition-time: 0.3s;
    --header-height: 4rem;
    --primary-color: white;
    --nav-item-font-size: 1.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: var(--primary-color)
  }

  h1 {
    font-size: 5rem;
  }

  body {
    background-color: black;
    height: 100vh;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
  }

  ul {
    list-style: none;
  }

  main {
    margin: 0 2rem;
  }


  a {
    color: yellow;
  }


  .page-title {
    margin-bottom: 1rem;
  }
}

@layer layout {
  .main-content-section {  
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--header-height) + 1rem);
  }
}

@layer components {
  #top {
    height: calc(100vh - var(--header-height));
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* START HEADER */
  header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 2rem;
  }

  .darken-header {
    background-color: rgba(0, 0, 0, 0.8);

    .nav-link {
      color: white;
    }

    .logo {
      border-color: white;
    }

    .social-item-img {
      color: white;
    }
  }

  .dark.nav-link {
    color: white;
  }

  nav {
    width: inherit;
    height: inherit;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    font-size: var(--nav-item-font-size);
    font-weight: bold;
    display: inline;
    transition: opacity var(--default-transition-time);
  }

  .nav-item--left {
    margin-left: 20%;
  }

  .nav-item--border-bottom {
    border-bottom: 2px solid white;
  }

  .nav-item:hover {
    opacity: 1;
  }

  .nav-link {
    height: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;

    span {
      color: white;
    }
  }

  .logo {
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    width: calc(2rem + var(--nav-item-font-size));
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: transform var(--default-transition-time);
  }

  .logo:hover {
    transform: rotate(10deg);
  }

  li.social-item:first-child {
    margin-left: auto;
  }

  .social-item-img {
    color: white;
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s;
  }

  .social-item-img:hover {
    transform: scale(1.1);
  }

  .headline-1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 20vw; */
  }

  .headline-2 {
    margin-bottom: 4rem;
  }
  
  .headline-copy {
    font-size: 1.25rem;
  }
  
  .headline-item {
    display: inline-block;
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
  }
  
  .word {
    text-wrap: nowrap;
  }

  .experience-item {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: rgba(0, 0, 1, 0.4);
    opacity: 0.9;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  
  .experience-item:hover {
    opacity: 1;
    border-color: yellow;
  }
  
  .job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .job-title-date {
    font-size: 1rem;
  }
  
  .job-description {
    padding: 1rem 0;
  }
  
  .job-description-list {
    padding-left: 1rem;
    margin-top: 1rem;
    li {
      color: var(--primary-color);
    }
  }
  
  .tech-tag {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
    border-radius: 5px;
  }
  
  .tech-tag--lang {
    border: 1px solid #00d1b2;
  }
  
  .tech-tag--tool {
    border: 1px solid #3298dc;
  }
  
  .tech-tag--db {
    border: 1px solid #ffdd57;
  }

  .projects-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: center;
    gap: 3rem;
  }
  
  .project-item-container {
    border: 5px solid var(--primary-color);
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(0, 0, 1, 0.4);
    max-width: 300px;
  
    a {
      text-decoration: none;
    }
  }
  
  .project-item-container:hover {
    border-color: yellow;
    border-radius: 7px;
  }
  
  .project-description {
    
    padding: 1rem 0;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    width: 27rem;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 10px;
  }

  .social-item-img {
    height: 3rem;
    width: 3rem;
  }

  header {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 900px) {
  .job-title {
    flex-direction: column;
    align-items: flex-start;
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(var(--start-x), var(--start-y));
  }

  100% {
    transform: inherit;
  }
}